In [5]:
import pandas as pd
import numpy as np

dados = pd.read_csv('StudentsPerformance.csv')

In [ ]:
# Verificar as cinco primeiras linhas
dados.head()

In [ ]:
# Verifica as cinco ultimas linhas
dados.tail()

In [ ]:
#Verifica a quantidade de linhas e colunas
dados.shape

In [ ]:
# Verifica todas as colunas em forma de objeto
dados.columns

In [ ]:
# Verifica as linhas duplicadas
dados.duplicated().sum()

In [ ]:
# Verifica as informações de armazenamento de dados das colunas
dados.info()

In [ ]:
# Verifica a existencia de valores NaN 
dados.isna().sum()

In [13]:
# Sumario estatico
dados.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000